body {
    margin: 0px
}

.mainImg {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0px;
    border: 1px solid blue;
}

#welcome {
    margin-left: 20px;
}

.table {
    position: absolute;
    height: 200px;
    width: 200px;
    left : 10vw;
    top: 20vh;
    background-color: #05cdfa;
    border-radius: 50%;
}

.philo {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #000000;
    border-radius: 50%;
}

.fork {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #9a9b9a;
    border-radius: 50%;
}

#philoSimul {
    width : 500px;
    height : 100px;
}

#start {
    width : 500px;
    height : 20px;
}