body {
    margin: 0px
}

.mainImg {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0px;
    border: 1px solid blue;
}

#welcome {
    margin-left: 20px;
}

.table {
    position: absolute;
    height: 200px;
    width: 200px;
    left : 10vw;
    top: 20vh;
    background-color: #faac05;
    border-radius: 50%;
}

.philo {
    position: absolute;
    height: 25px;
    width: 25px;
    color: rgb(1, 1, 1);
    border: 1px solid black;
    text-align: center;
    align-items: center;
}

.fork {
    position: absolute;
    height: 20px;
    width: 20px;
    color: black;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    align-items: center;
}

#philoSimul {
    width : 500px;
    height : 100px;
}

#start {
    width : 500px;
    height : 20px;
}